---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import DownloadApp from '../components/DownloadApp.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title="Download Chimes! App"
  description="Download the Chimes! app for iPhone and Android."
>
  <Header />
  <main>
    <DownloadApp />
  </main>
  <Footer />
</Layout>
