---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import AppShowcase from '../components/AppShowcase.astro';
import HowItWorks from '../components/HowItWorks.astro';
import VendorInfo from '../components/VendorInfo.astro';
import VendorPricing from '../components/VendorPricing.astro';
import DownloadApp from '../components/DownloadApp.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Features />
    <AppShowcase />
    <HowItWorks />
    <VendorInfo />
    <VendorPricing />
    <DownloadApp />
    <ContactForm />
  </main>
  <Footer />
</Layout>
